<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link href="//cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//cdn.muicss.com/mui-0.10.1/js/mui.min.js"></script>
    <script>
        

    </script>
</head>

<body>
    <div class="mui-container mui--text-center">
        <h1>Best Passwords</h1>
    </div>
    <div class="mui-container mui--text-center" id="buttons">
        <form action = "{{ url_for('index') }}" method="POST">
            <div style="position:absolute; left: 350px; top:300px; margin: auto;  padding: 10px; width:50%;" >
                <table id="checkin" style="width:100%"> 
            
                        <tr >
                            <th>Number of Passwords</th>
                            <th>Length</th>
                            <!-- <th>Word Separator</th> -->
                            <th> Characters</th>
                            
                        </tr>
                    
                <tr >
                    <td> 
                        <select name="passAmount" id="passAmount">
                            <!-- TODO: Populate categories -->
                            <option value="1" >1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" >5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9" >9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13" >13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17" >17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            
                
                        </select></td>


                    <td><select name="passLength" id="seltype">
                        <!-- TODO: Populate categories -->
                        <option value="6">6</option>
                        <option value="12">12</option>
                        <option value="18">18</option>
                        <option value="24">24</option>
                        <option value="30">30</option>
            
                    </select></td>

                  
                     
                    <td><select name="preference" id="selInst">
                        <!-- TODO: Populate categories -->
                        <option value="digits">Digits</option>
                        <option value="phrase">Phrase</option>
                        <option value="lowerCase">Lowercase letters</option>
                        <option value="upperCase">Uppercase letters</option>
                        <option value="lowUpCase">Lowercase and Uppercase</option>
                        <option value="digitsandLetters">Digits and letters</option>
                        <option value="specialCharacters">Special characters</option>
                        <option value="everything">Everything</option>
                        
            
                    </select></td>
                </tr>
                    <div>
                        <button>Submit</button>
                        
                    </div>

                </table>


                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"> {{a}} </th>
                      </tr>
                    </thead>
                </table>
                  

               
                
               
         </div>

       

            <!-- <button class="mui-btn mui-btn-large mui-btn--primary" type="button" name="name" value="name"
                onclick="requestData('jokes')">Get a Joke</button>
           -->
        </form>

       
       

    </div>
    <!-- <div class="mui-container mui--text-center">
        <div class="mui-panel mui--text-center" id="response"></div>
    </div> -->
    
</body>

</html>